backend/src/main/resources/booking.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
  targetNamespace="http://bookingxml.com/soap-example" xmlns:tns="http://bookingxml.com/soap-example"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getLodgingsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lodgings" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getLodgingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lodgingRes" type="tns:lodgingRes" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getMessagesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="response" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageRes" type="tns:messageRes" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setMessagesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageRes" type="tns:messageRes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageRes" type="tns:messageRes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setCompletedLodgingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservation" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCompletedLodgingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setOccupancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="success" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getReservationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservations" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setLodgingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lodging" type="tns:lodgingRes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setLodgingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getLodgingTypesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getLodgingTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types" type="tns:typeOfLodging" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getLodgingCategoriesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getLodgingCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types" type="tns:categoryOfLodging" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCitiesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cities" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cities" type="tns:city" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:element name="getImagesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="imagesList" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getImagesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="imagesList" type="tns:image" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


  <xs:element name="getAdditionsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:element name="setPricePlanRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="year" type="xs:positiveInteger" />
                <xs:element name="lodging" type="xs:string" />
                <xs:element name="january" type="xs:positiveInteger" />
                <xs:element name="february" type="xs:positiveInteger" />
                <xs:element name="mart" type="xs:positiveInteger" />
                <xs:element name="april" type="xs:positiveInteger" />
                <xs:element name="may" type="xs:positiveInteger" />
                <xs:element name="june" type="xs:positiveInteger" />
                <xs:element name="july" type="xs:positiveInteger" />
                <xs:element name="august" type="xs:positiveInteger" />
                <xs:element name="september" type="xs:positiveInteger" />
                <xs:element name="october" type="xs:positiveInteger" />
                <xs:element name="november" type="xs:positiveInteger" />
                <xs:element name="december" type="xs:positiveInteger" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="setPricePlanResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="types" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

  <xs:element name="getAdditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types" type="tns:additionalService" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setOccupancyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="agent" type="xs:string"/>
        <xs:element name="lodging" type="xs:long"/>
        <xs:element name="start" type="xs:string"/>
        <xs:element name="end" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="messageRes" type="tns:messageRes"/>
    <xs:complexType name="messageRes">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="body" type="xs:string"/>
            <xs:element name="dateSent" type="xs:date"/>
            <xs:element name="sender" type="xs:string"/>
            <xs:element name="receiver" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

  <xs:element name="lodgingRes" type="tns:lodgingRes"/>
  <xs:complexType name="lodgingRes">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="agent" type="xs:string"/>
      <xs:element name="city" type="xs:long"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="type" type="xs:long"/>
      <xs:element name="category" type="xs:long"/>
      <xs:element name="details" type="xs:string"/>
      <xs:element name="imagesList" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="personsNumber" type="xs:positiveInteger"/>
      <xs:element name="additionService" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="additionalService" type="tns:additionalService"/>

  <xs:element name="categoryOfLodging" type="tns:categoryOfLodging"/>

  <xs:element name="city" type="tns:city"/>

  <xs:element name="comment" type="tns:comment"/>

  <xs:element name="country" type="tns:country"/>

  <xs:element name="image" type="tns:image"/>

  <xs:element name="lodging" type="tns:lodging"/>

  <xs:element name="message" type="tns:message"/>

  <xs:element name="priceList" type="tns:priceList"/>

  <xs:element name="rating" type="tns:rating"/>

  <xs:element name="reservation" type="tns:reservation"/>

  <xs:element name="typeOfLodging" type="tns:typeOfLodging"/>

  <xs:element name="user" type="tns:user"/>

  <xs:complexType name="lodging">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="details" type="xs:string"/>
      <xs:element name="rating" type="xs:double"/>
      <xs:element name="personsNumber" type="xs:int"/>
      <xs:element name="category" type="tns:categoryOfLodging"/>
      <xs:element name="type" type="tns:typeOfLodging"/>
      <xs:element ref="tns:city"/>
      <xs:element name="priceLists">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:priceList" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="agent" type="tns:user"/>
      <xs:element name="comments">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:comment" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reservations">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:reservation" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ratingList">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:rating" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="additionalServiceList">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:additionalService" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="imagesList">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:image" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoryOfLodging">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="typeOfLodging">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="label" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="city">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element ref="tns:country"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="country">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="cityList">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:city" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priceList">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="year" type="xs:string"/>
      <xs:element name="dateCreated" type="xs:dateTime"/>
      <xs:element name="january" type="xs:double"/>
      <xs:element name="february" type="xs:double"/>
      <xs:element name="mart" type="xs:double"/>
      <xs:element name="april" type="xs:double"/>
      <xs:element name="may" type="xs:double"/>
      <xs:element name="june" type="xs:double"/>
      <xs:element name="july" type="xs:double"/>
      <xs:element name="august" type="xs:double"/>
      <xs:element name="september" type="xs:double"/>
      <xs:element name="october" type="xs:double"/>
      <xs:element name="november" type="xs:double"/>
      <xs:element name="december" type="xs:double"/>
      <xs:element ref="tns:lodging"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="passwordHash" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="adress" type="xs:string" minOccurs="0"/>
      <xs:element name="number" type="xs:string"/>
      <xs:element name="role" type="tns:role"/>
      <xs:element name="lastPasswordReset" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="activated" type="xs:boolean"/>
      <xs:element name="receviedMessages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sentMessages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reservations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="lodgings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:lodging" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ratings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:rating" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comments">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:comment" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="message">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
      <xs:element name="dateSent" type="xs:dateTime"/>
      <xs:element name="receiver" type="tns:user"/>
      <xs:element name="sender" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservation">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="dateStart" type="xs:dateTime"/>
      <xs:element name="dateEnd" type="xs:dateTime"/>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element name="visited" type="xs:boolean"/>
      <xs:element ref="tns:lodging"/>
      <xs:element ref="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rating">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="dateCreated" type="xs:dateTime"/>
      <xs:element name="star" type="xs:long"/>
      <xs:element ref="tns:user"/>
      <xs:element ref="tns:lodging"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="body" type="xs:string"/>
      <xs:element name="accepted" type="xs:boolean"/>
      <xs:element ref="tns:lodging"/>
      <xs:element ref="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="additionalService">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="lodgingList">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:lodging" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="image">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="url">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="tns:lodging"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER"/>
      <xs:enumeration value="AGENT"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
